    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
                <a href="/" class=" d-flex flex-row align-items-center">
                    <img class="img-fluid" src="img/logo.png" height="50px" width="50px" alt="Logo">
                    <h4 class="p-0 m-0">OLivePhases</h4>
                </a>
             
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/" class="nav-item nav-link ">Accueil</a>
                        <div class="nav-item dropdown">
                            <a href="/les_stades" class="nav-link nav-item dropdown-toggle" data-bs-toggle="dropdown">Les Phases</a>
                            <div class="dropdown-menu bg-light rounded-0 m-0">
                                <a href="/les_stades#phase_1" class="dropdown-item">phase 1</a>
                                <a href="/les_stades#phase_2" class="dropdown-item">phase 2</a>
                                <a href="/les_stades#phase_3" class="dropdown-item">phase 3</a>
                                <a href="/les_stades#phase_4" class="dropdown-item">phase 4</a>
                                <a href="/les_stades#phase_5" class="dropdown-item">phase 5</a>
                                <a href="/les_stades#phase_6" class="dropdown-item">phase 6</a>
                                <a href="/les_stades#phase_7" class="dropdown-item">phase 7</a>
                        
                            </div>
                        </div>
                        <a href="/agenda" class="nav-item nav-link">Agenda</a>
                        <a href="/propos_nous" class="nav-item nav-link">À-propos </a>
                        <a href="/contactez_nous" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="border-start ps-4  d-lg-block">
                        <a href="/sign_in" ><button type="button"  class="btn btn-outline-primary btn-block">connecter</button></a>
                        <!-- <button type="button" class="btn btn-sm p-0 "><i class="fa fa-search"></i> salam</button> -->
                    </div>
                   
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
