<!-- <script>
  function getQueryParams() {
      const params = {};
      const queryString = window.location.search.slice(1);
      const queries = queryString.split('&');
      queries.forEach(query => {
          const [key, value] = query.split('=');
          params[key] = decodeURIComponent(value);
      });
      return params;
  }

  function showAlert() {
      const params = getQueryParams();
      if (params.error) {
          alert(params.error);
      }
      if (params.message) {
          alert(params.message);
      }
  }

  window.onload = showAlert;
</script> -->
<div class="position-relative" style="z-index: -10;">
  <video autoplay muted loop id="bg_video">
    <source src="/video/bg_video.mp4" type="video/mp4">
  </video>
 </div>

  <div class="text-center sinng">
      <main class=" form-signin">
        <form action="/inscrire" method="post">
          <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
          <img class="mb-4" src="/img/logo.png" alt="" width="80" height="80">
          <h1 class="h3 mb-3 fw-normal text-white">OlivePhases</h1>
          <p class=" mb-3 fw-normal text-white">Bienvenue! svp </p>
      
          <div class="form-floating">
            <input type="text" class="form-control" name="nom" id="floatingInput" placeholder="votre prénom">
            <label for="floatingInput">Votre Nom</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating ">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating  ">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> 
            <label for="floatingPassword">confirmer Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">s'inscrire</button>
          <p class="mt-5 mb-3  text-white">vous avez déja un account <a style="color:rgb(132, 248, 142); font-weight:bolder;" href="/sign_in"> connecter</a></p>
        </form>
      </main>
      <!-- <script src="/js/inscrire.js"></script> -->
  </div>
  
