 <!-- Page Header Start -->
 <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
         
        <nav aria-label="breadcrumb animated slideInDown">
            <h2>Les Stades Phénologiques de l'Olivier</h2>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Article Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="img/arbre.png" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-2 fw-medium fst-italic text-primary">Introduction </p>
                
                </div>
                <p class="mb-4">L'identification de l'olivier commence par le choix des variétés adaptées.
                     La plantation se fait en automne ou au printemps, avec taille, irrigation et désherbage. 
                    La fertilisation suit des analyses de sol, tandis que la protection phytosanitaire lutte contre maladies et ravageurs. La récolte varie selon 
                    les variétés, suivie d'une conservation pour maintenir la qualité des olives et de l'huile.</p>
            
                <a href="" class="btn btn-primary rounded-pill py-3 px-5">"En savoir plus"</a>
            </div>
        </div>
    </div>
</div>
<div id="phase_1" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="img/reveil.jpg" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Phase 1</p>
                    <h1 class="display-6">Cycle végétatif</h1>
                </div>
                <p class="mb-4"> Pendant l'hiver, l'olivier entre en dormance.
                    Les bourgeons restent fermés, et l'arbre se repose en préparation de la prochaine saison de croissance</p>
              
            </div>
        </div>
    </div>
</div>
<div id="phase_2"  class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
       
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Phase 2</p>
                    <h1 class="display-6">La formation des grappes florales</h1>
                </div>
                <p class="mb-4"> Avec l'arrivée du printemps, les bourgeons commencent à gonfler et à s'ouvrir. Les premières feuilles apparaissent,
                    marquant le début de la nouvelle saison de croissance</p>
              
            </div>
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="img/formation-frappers.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div id="phase_3"   class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="img/gonflement.jpg" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Phase 3</p>
                    <h1 class="display-6">Le gonflement des boutons floraux</h1>
                </div>
                <p class="mb-4"> L'olivier produit de nouvelles pousses et feuilles. Cette phase de croissance rapide est essentielle pour l'accumulation de réserves énergétiques.</p>
              
            </div>
        </div>
    </div>
</div>
<div id="phase_4" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
           
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Phase 4</p>
                    <h1 class="display-6">La Floraison</h1>
                </div>
                <p class="mb-4"> Les grappes de fleurs blanches apparaissent à la fin du printemps. C'est le moment de la pollinisation, crucial pour la production de fruits.</p>
              
            </div>
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="img/floraison.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div id="phase_5" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="img/nouasion.jpg" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Phase 5</p>
                    <h1 class="display-6">La nouaison</h1>
                </div>
                <p class="mb-4"> Les fleurs fécondées commencent à former de petites olives vertes. C'est le début de la croissance des fruits.</p>
              
            </div>
        </div>
    </div>
</div>
<div id="phase_6" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
           
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Phase 6</p>
                    <h1 class="display-6">Le grossissement des fruits</h1>
                </div>
                <p class="mb-4"> Durant l'été, les olives continuent de croître en taille et en poids, accumulant de l'huile</p>
              
            </div>
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="img/groissement.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div id="phase_7" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="img/maturite.jpg" alt="">
                
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <p class="fs-5 fw-medium fst-italic text-primary">Phase 7</p>
                    <h1 class="display-6">La Maturité</h1>
                </div>
                <p class="mb-4"> En automne, les olives mûrissent et changent de couleur, passant du vert au violet, puis au noir. Elles atteignent leur pleine maturité et sont prêtes pour la récolte.</p>
              
            </div>
        </div>
    </div>
</div>